[submodule "shared-ui"]
	path = shared-ui
	url = https://github.com/pylonsite/shared-ui.git
	branch = main
[submodule "shared-lint"]
	path = shared-lint
	url = https://github.com/pylonsite/shared-lint.git
	branch = main
[submodule "shared-docs"]
	path = shared-docs
	url = https://github.com/pylonsite/shared-docs.git
	branch = main
[submodule "shared-scripts"]
	path = shared-scripts
	url = https://github.com/pylonsite/shared-scripts.git
	branch = main
[submodule "site-sants-fitness"]
	path = site-sants-fitness
	url = https://github.com/pylonsite/site-sants-fitness.git
	branch = main
